# Analiza danych przestrzennych - ćwiczenia laboratoryjne 2023/2024

Ten notatnik zalicza się do grupy zestawów zadań, na podstawie których odbywa się zaliczenie ćwiczeń i podlega zwrotowi do oceny w ustalonym na zajęciach terminie.

Uwagi i wytyczne ogólne dotyczące uzupełniania i oceny notatnika:
- Podczas wykonywania zadań należy korzystać wyłącznie z pakietów zaimportowanych na początku notatnika oraz z pakietów wchodzących w skład standardowej biblioteki Pythona, które można zaimportować samodzielnie we wskazanej komórce notatnika.
- Swoje rozwiązania należy wprowadzać wyłącznie w miejce następujących fragmentów kodu:<br/> `# YOUR CODE HERE`<br/> `raise NotImplementedError()`<br/> 
a odpowiedzi tekstowe w komórkach oznaczonych hasłem:<br/> 
`YOUR ANSWER HERE`<br/> 
Nie należy w żaden sposób modyfikować pozostałych fragmentów kodu oraz innych elementów notatnika, w szczególności dodawać lub usuwać komórek oraz zmieniać nazwy pliku.
- Jeżeli zestaw zadań wymaga skorzystania z fragmentów kodu opracowanego w ramach wcześniejszych zestawów zadań należy je umieścić we wskazanej komórce notatnika.
- Otrzymywane wyniki i odpowiedzi mają być rezultatem wykonania napisanego kodu, odpowiedzi uzupełniane manualnie nie podlegają ocenie.
- Zawarte w notatniku automatyczne testy mają charakter poglądowy. Dotyczą one wybranych aspektów zadań i mają na celu wyłapać podstawowe błędy. Przejście przez kod wszystkich testów nie oznacza, że zadanie jest wykonane w całości poprawnie i zostanie ocenione na maksymalną liczbę punktów.
- Zadania należy wykonać w taki sposób, aby podczas wykonywania kodu nie zostały wyświetlone żadne ostrzeżenia.
- Zadania, które powodują wyświetlenie komunikatu o błędzie przerywającym wykonywanie kodu nie podlegają ocenie.

Uwagi i wytyczne ogólne dotyczące wizualizacji wyników:
- Wszystkie wykresy powinny być wykonane w jednolitym, przejrzystym i czytelnym stylu, posiadać odpowiednio dobrane proporcje i zakresy wartości osi.
- Figury powinny mieć ustawione białe tło, tak, aby niezależnie od ustawień notatnika wszystkie elementy wykresów były dobrze widoczne (domyślnie tło jest przeźroczyste co może powodować problemy w notatnikach z ustawionym ciemnym tłem). Rozmiar poziomy figur nie powinien przekraczać 20 cali.
- Wykresy oraz ich osie powinny mieć nadane tytuły. Jeżeli w obrębie figury znajduje się więcej niż jeden wykres to figura również powinna mieć nadany tytuł.

Przed odesłaniem zestawu zadań do oceny proszę uzupełnić komórkę z danymi autorów rozwiązania (nazwa zespołu oraz imiona, nazwiska i numery indeksów członków zespołu) oraz upewnić się, że notatnik działa zgodnie z oczekiwaniami. W tym celu należy skorzystać z opcji **Restart Kernel and Run All Cells...** dostępnej na górnej belce notatnika pod symbolem $\blacktriangleright\blacktriangleright$.

Nazwa zespołu: IAD12
Członkowie: Izabela Karczewska 409957, Natalia Kołodziejczyk 409695, Natalia Kubańska 411933

---

## Zestaw zadań 2: Elementy statystyki opisowej 2 (Notatnik 2/3)

In [1]:
import numpy as np
import pandas as pd
import scipy as sp
import matplotlib as mpl
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
# Miejsce do importu pakietów wchodzących w skład standardowej biblioteki Pythona oraz ustawienie opcji wykorzystywanych pakietów

### Wczytanie danych
Poniższy kod wczytuje do zmiennej `recession_data_1` dane z przygotowanego wcześniej pliku recession_data_1.pkl.

In [3]:
recession_data_1 = pd.read_pickle("recession_data_1.pkl")
recession_data_1

,Country Name,Region Name,Income Group,2006,2007,2008,2009,2010,2011
Country Code,,,,,,,,,
AFG,Afghanistan,Asia,Low,5.357403,13.826320,3.924984,21.390528,14.362441,0.426355
ALB,Albania,Europe,Lower middle,5.902659,5.983260,7.500041,3.354289,3.706938,2.545406
DZA,Algeria,Africa,Upper middle,1.700000,3.400000,2.400000,1.600000,3.600000,2.900000
ASM,American Samoa,Oceania,Upper middle,-4.098361,1.851852,-2.657343,-4.166667,0.299850,0.000000
AND,Andorra,Europe,High,4.808689,1.553188,-5.559186,-5.302847,-1.974958,-0.008070
...,...,...,...,...,...,...,...,...,...
VIR,Virgin Islands (U.S.),Americas,High,3.504993,4.010594,1.218625,-6.594789,0.596383,-8.204246
PSE,West Bank and Gaza,Asia,Lower middle,-0.996556,3.788282,7.429182,8.593491,5.777362,9.600808
YEM,"Yemen, Rep.",Asia,Low,3.170409,3.338428,3.647569,3.866230,7.702307,-12.714897
ZMB,Zambia,Africa,Low,7.903694,8.352436,7.773896,9.220348,10.298223,5.564602
ZWE,Zimbabwe,Africa,Low,-3.461495,-3.653327,-17.668946,12.019560,21.452061,14.620207

### Zadnie 2: Prezentacja danych w formie tabelarycznej [10 pkt]

Przygotuj trzy tablice szeregów rodzielczych przedziałowych częstości wskaźnika GDP growth (annual %) dla poszczególnych lat.

Wyświetl przygotowane tablice w taki sposób aby zawarte w tablicy liczby (za wyjątkiem lat i granic przedziałów w nagłówkach kolumn i wierszy) wyświetlały się z dokładnością do 2 miejsca po przecinku.

#### a) Całość danych
Pierwsza tablica (`recession_table_1`) powinna zawierać szeregi skonstruowane w obarciu o całość danych.

 > Indeks: Year </br>
 > Wszystkie lata, dla których zostały wyznaczone wartości parametru GDP growth (annual %)
 
 > Kolumny: (-20, -15],	(-15, -10], ... , (30, 35] </br>
 > Kolejne przedziały wartości zdefiniowane jako `pandas.IntervalIndex`

In [4]:
# YOUR CODE HERE
idx = pd.IntervalIndex.from_breaks([*range(-20,36,5)])
df = pd.melt(recession_data_1, value_vars=['2006','2007','2008','2009','2010','2011'], var_name='Year', value_name='GDP' )
recession_table_1 = df.groupby(['Year',  pd.cut(df['GDP'],idx)], observed=False).count()
recession_table_1.columns = ['count']
recession_table_1 = recession_table_1.reset_index().set_index(['Year']).pivot(columns='GDP',values='count')

In [5]:
recession_table_1 = recession_table_1 / len(recession_data_1)
recession_table_1.style.format(precision = 2)

In [6]:
### Komórka testowa
# Kolumny
lower_boundaries = np.arange(-20, 35, 5)
for i in range(len(lower_boundaries)):
    assert recession_table_1.columns[i] == pd.Interval(lower_boundaries[i], lower_boundaries[i]+5, closed='right')
# Indeks
assert recession_table_1.index.name == "Year"
assert len(set(list(recession_table_1.index)) & set([2006, 2007, 2008, 2009, 2010, 2011])) == 6 \
    or len(set(list(recession_table_1.index)) & set(['2006', '2007', '2008', '2009', '2010', '2011'])) == 6
# Wartości w obrębie tablicy
assert recession_table_1.values.min() >= 0.0
assert recession_table_1.values.max() <= 1.0
assert np.all(np.isclose(recession_table_1.sum(axis=1), 1.0))==True

#### b) Podział na regiony geograficzne
Druga tablica (`recession_table_2`) powinna zawierać szeregi skonstruowane indywidualnie dla każdego z rejonów geograficznych.

 > Indeks: 2-poziomowe nagłówki </br>

 >> Nagłówki 1 poziomu: Region Name </br>
 >> Nazwy regionów geograficznych

 >> Nagłówki 2 poziomu: Year </br>
 >> Wszystkie lata, dla których zostały wyznaczone wartości parametru GDP growth (annual %) powtórzone dla każdego z rejonów

 > Kolumny: (-20, -15],	(-15, -10], ... , (30, 35] </br>
 > Kolejne przedziały wartości zdefiniowane jako `pandas.IntervalIndex`

In [7]:
# YOUR CODE HERE
idx = pd.IntervalIndex.from_breaks([*range(-20,36,5)])
df = pd.melt(recession_data_1, value_vars=['2006','2007','2008','2009','2010','2011'], var_name='Year', value_name='GDP', id_vars = 'Region Name' )
recession_table_2 = df.groupby(['Year', 'Region Name', pd.cut(df['GDP'],idx)], observed=False).count()
recession_table_2.columns = ['count']
recession_table_2 = recession_table_2.reset_index().set_index(['Region Name', 'Year']).pivot(columns='GDP',values='count')

In [8]:
recession_table_2 = recession_table_2.div( recession_table_2.sum(axis = 1), axis = 0 )

In [9]:
recession_table_2.style.format(precision = 2)

In [10]:
# Komórka testowa
# Kolumny
lower_boundaries = np.arange(-20, 35, 5)
for i in range(len(lower_boundaries)):
    assert recession_table_2.columns[i] == pd.Interval(lower_boundaries[i], lower_boundaries[i]+5, closed='right')
# Indeks
assert recession_table_2.index.names == ['Region Name', 'Year']
assert set(list(recession_table_2.index.levels[0])) == set(['Africa', 'Americas', 'Asia', 'Europe', 'Oceania'])
set(list(recession_table_2.index.levels[1]))
assert set(list(recession_table_2.index.levels[1])) == set([2006, 2007, 2008, 2009, 2010, 2011]) \
    or set(list(recession_table_2.index.levels[1])) == set(['2006', '2007', '2008', '2009', '2010', '2011'])
# # Wartości w obrębie tablicy
assert recession_table_2.values.min() >= 0.0
assert recession_table_2.values.max() <= 1.0
assert np.all(np.isclose(recession_table_2.sum(axis=1), 1.0))==True

#### c) Podział na stopnie zamożności

Trzecia tablica (`recession_table_3`) powinna zawierać szeregi skonstruowane indywidualnie dla każdego stopnia zamożności.

 > Indeks: 2-poziomowe nagłówki </br>

 >> Nagłówki 1 poziomu: Income Group </br>
 >> Nazwy klas ekonomicznych

 >> Nagłówki 2 poziomu: Year </br>
 >> Wszystkie lata, dla których zostały wyznaczone wartości parametru GDP growth (annual %) powtórzone dla każdej z grup ekonomicznych

 > Kolumny: (-20, -15],	(-15, -10], ... , (30, 35] </br>
 > Kolejne przedziały wartości zdefiniowane jako `pandas.IntervalIndex`

In [11]:
# YOUR CODE HERE
idx = pd.IntervalIndex.from_breaks([*range(-20,36,5)])
df = pd.melt(recession_data_1, value_vars=['2006','2007','2008','2009','2010','2011'], var_name='Year', value_name='GDP', id_vars = 'Income Group' )
recession_table_3 = df.groupby(['Year', 'Income Group', pd.cut(df['GDP'],idx)], observed=False).count()
recession_table_3.columns = ['count']
recession_table_3 = recession_table_3.reset_index().set_index(['Income Group', 'Year']).pivot(columns='GDP',values='count')

In [12]:
recession_table_3 = recession_table_3.div( recession_table_3.sum(axis = 1), axis = 0 )
recession_table_3.style.format(precision = 2)

In [13]:
# Komórka testowa
# Kolumny
lower_boundaries = np.arange(-20, 35, 5)
for i in range(len(lower_boundaries)):
    assert recession_table_3.columns[i] == pd.Interval(lower_boundaries[i], lower_boundaries[i]+5, closed='right')
# Indeks
assert recession_table_3.index.names == ['Income Group', 'Year']
assert set(list(recession_table_3.index.levels[0])) == set(['High', 'Low', 'Lower middle', 'Upper middle'])
assert set(list(recession_table_3.index.levels[1])) == set([2006, 2007, 2008, 2009, 2010, 2011]) \
    or set(list(recession_table_3.index.levels[1])) == set(['2006', '2007', '2008', '2009', '2010', '2011'])
# Wartości w obrębie tablicy
assert recession_table_3.values.min() >= 0.0
assert recession_table_3.values.max() <= 1.0
assert np.all(np.isclose(recession_table_3.sum(axis=1), 1.0))==True

### Zadanie 3: Prezentacja danych w formie graficznej [25 pkt]

#### a) Diagramy częstości

Bazując na wczytanych do notatnika danych przygotuj diagramy częstości odpowiadające danym zawartym w przygotowanych wcześniej tabelach (podział na identyczne przedziały, skonstruowane w oparciu o całość danych oraz indywidualnie dla każdego z rejonów geograficznych i dla każdego stopnia zamożności, osobne diagramy dla poszczególnych lat). 

Zestaw wyniki na pojedynczej figurze (siatka wykresów 2x5). W górnym wierszu zawrzyj diagram skonstruowany w oparciu o całość danych oraz cztery diagramy skonstruowane indywidualnie dla poszczególnych stopni zamożności, a w dolnym wierszu pięć dziagramów skonstruowanych indywidualnie dla poszczególnych rejonów geograficznych). Przygotuj figurę zgodnie z wytycznymi z nagłówka notatnika. Dodatkowo:
- ustaw identyczne zakresy wartości na odpowiadających sobie osiach wszystkich wykresów,
- ustaw różne od domyślnych i od siebie nawzajem kolory diagramów poszczególnych lat (kolory przyporządkowane poszczególnym latom powinny być identyczne na wszystkich wykresach),
- dodaj do figury lub wykresów legendę zawierającą nazwę wizualizowanego parametru oraz kolory przypisane poszczególnym latom w taki sposób, aby nie zasłaniała/zasłaniały znajdujących się na wykresach danych.

Uwaga! Zadanie należy wykonać w oparciu o wczytane do notatnika szeregi szczegółowe, a nie w oparciu o szeregi rozdzielcze częstości przygotowane w zadaniu 2.

In [14]:
# YOUR CODE HERE
raise NotImplementedError()

NotImplementedError:

#### b) Inne typy wykresów
Bazując na wczytanych do notatnika danych przygotuj wykresy typu boxplot, violinplot, swarmplot i stripplot.

W przypadku każdego z typów wykresów zestaw wyniki na pojedynczej figurze (siatka wykresów 3x1). W górnym wierszu zawszyj wykres skonstruowany w oparciu o całość danych, w wierszu środkowym wykres zawierajacy podział na poszczególne stopnie zamożności, a w wierszu dolnym wykres zawierajacy podział na poszczególne rejony geograficzne. Przygotuj figurę zgodnie z wytycznymi z nagłówka notatnika. Dodatkowo:
- ustaw identyczne zakresy wartości na odpowiadających sobie osiach wszystkich wykresów,
- na górnych wykresach dla całości danych użyj pojedynczego koloru jako wypełnienia,
- dla stopni zamożności ustaw jako wypełnienie skalę kolorów coolwarm,
- poszczególnym rejonom geograficznym przypisz jasne/wypłowiałe wersje kolorów przypisanych im na fladze olimpijskiej (Afryka szary, Europa jasnoniebieski itd.),
- w przypadku wykresów swarmplot i stripplot dobierz ich parametry tak by chmury punktów powiązanych z opisanymi w legendzie wariantami parametrów były rozdzielone,
- do dwóch dolnych wykresów dodaj legendę zawierającą nazwę wizualizowanego parametru oraz kolory przypisane poszczególnym rejonom geograficznym/stopniom zamożności w taki sposób, aby nie zasłaniała znajdujących się na wykresach danych.

Wykresy pudełkowe powinny zawierać oznaczenia wartości średniej, mediany oraz wartości odstających.

Uwaga! Zadanie należy wykonać w oparciu o wczytane do notatnika szeregi szczegółowe, a nie w oparciu o szeregi rozdzielcze częstości przygotowane w zadaniu 2.

In [ ]:
# Boxplot
# YOUR CODE HERE
#melt funkcja do zlaczenia tablic, hue 
raise NotImplementedError()

In [ ]:
# Violinplot
# YOUR CODE HERE
raise NotImplementedError()

In [ ]:
# Swarmplot
# YOUR CODE HERE
raise NotImplementedError()

In [ ]:
# Stripplot
# YOUR CODE HERE
raise NotImplementedError()

#### c) Dyskusja wyników

Zastanów się jakie są mocne i słabe strony poszczególnych typów wykresów wykonanych w tym zadaniu. W jakich przypadkach wykorzystanie konkretnych typów wykresów do wizualizacji może sprawiać problemy?

YOUR ANSWER HERE